= render partial: 'cart_modal'

- breadcrumb @cart
.col-md-10
  - if @cart.line_items.empty?
    .alert.alert-warning(role="alert")
      = t(:empty_cart)

  - else
    .ttable(ng-controller="CartShowController")
      .alert.alert-warning(role="alert" ng-show="empty_table && order_flag")
        = t(:empty_cart)
      #cart_notice.alert.alert-success(role="alert" ng-show="notice")
        {{notice}}
      .col-sm-6.col-sm-offset-3(ng-show='order_flag')

        %form{name: "form", role: "form", "ng-submit" => "form.$valid && create_order(order)", "novalidate" => true}
          .form-group
            %label{for: "address"}
              = t(:address)
            %textarea.form-control{placeholder: t(:address), type: "text", "ng-model" => "order.address", "ng-minlength" =>"2", 'required'=>true}
          .form-group
            %label{:for => "phone"}
              = t(:phone)
            %input#phone.form-control{placeholder: t(:phone), type: "phone", "ng-model" => 'order.phone',"ng-minlength" =>"7", 'required'=>true}
          %button.btn.btn-default{:type => "submit" ,"ng-disabled"=>"form.$invalid"} Заказать

      %table.table.table-bordered.table-cart(ng-hide="empty_table || order_flag")
        %thead
          %tr
            %th= t(:asset)
            %th= t(:product)
            %th= t(:marking)
            %th= t(:quantity)
            %th= t(:price)
            %th= t(:summary)
            %th= t(:delete)


        %tbody
          %tr(ng-repeat='item in items')
            %td
              %img.cart-image{:alt => "",  :src => "{{item.product.asset.url}}"}
            %td
              {{item.product.name}}
            %td
              {{item.product.marking}}
            %td
              %input.center-block.cart_quantity_input{:autocomplete => "off", :name => "quantity", "ng-model" => "item.quantity", :type => "number", :value => "1", :min => "1", "ng-disabled" => "button_hide"}
            %td
              {{p_price(item, item.product.price, item.product.model.valuta.value, item.product.model.percent) |  number: 0 }}
            %td.pointer
              {{item.product.summ * item.quantity |  number: 0}}
            %td(style="text-align: center")
              %span.pointer.glyphicon.glyphicon-remove-circle(ng-really-message="Вы уверены?" ng-really-click="button_hide || delete($index)" )
          %tr
            %td.pointer(colspan='5')
              = t(:total)
            %td.pointer(colspan='2' style="color: brown")
              {{total() |  number: 0}}

      .button-cart{"ng-hide"=>"empty_table || order_flag"}
        %button#real_order_button.btn.btn-primary{style: "display: #{ user_signed_in? ? 'inline' : 'none' }", "ng-click"=>"contact_form()" } 
          = t(:order)

        %button#modal_button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button",  style: "display: #{ user_signed_in? ? 'none' : 'inline' } " }
          = t(:order)

        %button.btn.btn-primary.btn-lg(ng-click="line_items_update()")
          = t(:update_cart)
        /%button.btn.btn-default{"ng-click" => "toggleModal()"} Open modal

        /%modal{:title => "{{user.email}}", :email => "user.email", :visible => "showModal"}
        /  %form{:name => "form",:role => "form", "novalidate" => true}
        /    .form-group
        /      %label{:for => "email"} Email address
        /      %input#email.form-control{:placeholder => "Enter email", :type => "email", "ng-model" => 'scope.user.email'}/
        /    .form-group
        /      %label{:for => "password"} Password
        /      %input#password.form-control{:placeholder => "Password", :type => "password", "ng-model" => 'scope.user.password'}/
        /    {{user.email}}
        /    %button.btn.btn-default(ng-click='mail()') Submit
