.col-md-10
  = render partial: "category_header",  locals: {element: @subcategory}
  .col-md-6
    = paginate @models, theme: :bootstrap3
  .col-md-6
    =  render partial: "sorted_form", locals: {category: @subcategory, arrow: 'right'}

  .col-md-12
    .row(ng-controller="CartController")
      - @models.each do |category|
        .media.media-shadow
          .col-md-2
            %a.pull-left(href="#")
              = image_tag(category.asset.url, size: "100x100", class:'media-object image-shadow')
          
          .media-body
            = link_to content_tag(:span, category.name, class: "#{category.name}" + "_h3" ), category
            
            %p= category.text.html_safe
          .col-md-12.table-partial
            = render partial: "product_table", locals: {model: category, subcategory: @subcategory}
