.panel.panel-default.element-header-shadow
  .panel-heading.panel-color-font
    %p= element.name
    
  .panel-body
    - breadcrumb  element
    - if element.class.name == 'Model'
      .media
        .col-md-2
          %a.pull-left(href="#")
            = image_tag(element.asset.url, size: "100x100", class:'media-object image-shadow')

        .media-body
          = link_to content_tag(:span, element.name, class: "#{element.name}" + "_h3" ), element
          %p
            =  element.text.html_safe
    - else 
      %p= element.text
    
    

