.col-md-12
  .row
    - element.each do |category|
      .media.media-shadow
        .col-md-2
          %a.pull-left(href="#")
            = image_tag(category.asset.url, size: "100x100", class:'media-object image-shadow')
            
        .media-body
          = link_to content_tag(:span, category.name, class: "#{category.name}" + "_h3" ), category
          %p= category.text.html_safe
            
          - unless form_flag.nil?
            .col-md-12
              .row
                .col-md-6.pull-left
                  .row
                    = render partial: "sorted_form", locals: { category: category, arrow: 'left' }
            
