.jumbotron
  %h1 Привет, мир!
  %p Тут будет картинка, логотип и в таком духе
  %p Плюс инфа разная
    


%nav#nav.navbar.navbar-default(data-spy="affix" data-offset-top="300")
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t(:home), main_pages_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"}
            = t(:price)
            %span.sr-only (current)

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = t(:about_us)
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"}= t(:shop)
            %li
              %a{:href => "#"}= t(:forum)
            %li
              %a{:href => "#"}= t(:vacantions)
            %li.divider
            %li
              %a{:href => "#"}= t(:our_works)
            %li
              %a{:href => "#"}= t(:news)
            %li.divider
            %li
              %a{:href => "#"}= t(:actions)
        %li
          %a{:href => "#"}= t(:about_us)
        %li
          %a{:href => "#"}= t(:delivery)
        
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "#{t :find_line}", :type => "text"}
        %button.btn.btn-default{:type => "submit"}
          = t :find
          
      %ul.nav.navbar-nav.navbar-right
        %li
          %a#cart_item{:href => "/cart"} 
            = t :shopping_cart
            %span.glyphicon.glyphicon-shopping-cart

            - unless @cart.line_items.empty?
              %span.badge
                = @cart.total
       
