%table.table.table-bordered
  %thead
    %tr
      %th= t(:model)
      - subcategory.prototype.option_types.each do |option|
        %th= option.name
      %th= t(:price)
      %th{'ng-click'=>'x()'}
        {{3*3}}
      /%th= t(:buy)
  
      
  %tbody
    - if model.products.blank?
      %tr
        %td(colspan='10')= t :not_found
    - model.products.each do |product|
      %tr
        %td= product.name
        - product.variants.each do |variant|
          %td= variant.value
        %td= product.p_price model
        %td 
          .btn.btn-default(ng-click="add_to_cart(#{product.id})")
            = t(:buy)
