%table.table.table-bordered
  %thead
    %tr
      %th= "Модель"
      - subcategory.prototype.option_types.each do |option|
        %th= option.name
      %th= "Цена"
      %th= "Купить"
  
      
  %tbody
    - if model.products.blank?
      %tr
        %td.col-md-6= "Не найдено"
    - model.products.each do |product|
      %tr
        %td= product.name
        - (product.values_int + product.values_str).each do |product|
          %td= product.value
        %td 500
        %td 
          .btn.btn-default Купить
