<h2><%= t :sign_up %></h2>

<%= form_for(User.new, url: user_registration_path, html: {id: 'sign_up_user', :'data-type' => 'json'}, remote: true) do |f| %>

  <div class="form-group" id="form_name">
    <%= f.label :name, t(:name), class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: t(:name) %>
  </div>


  <div class="form-group" id="form_email">
    <%= f.label :email, t(:email), class: "control-label" %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: t(:email) %>
  </div>

  <div class="form-group" id="form_password">
    <%= f.label :password, t(:password), class: "control-label" %>
    <em> 8 minimum </em>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: t(:password) %>
  </div>

  <div class="form-group" id="form_password_confirmation">
    <%= f.label :password_confirmation, t(:password_confirmation), class: "control-label" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: t(:password_confirmation) %>
  </div>

  <div class="actions">
    <button class="btn btn-large btn-info col-sm-12" type="submit"><%= t :sign_up %></button>
  </div>

<% end %>
