.panel
  = semantic_form_for [:admin, @model], :builder => ActiveAdmin::FormBuilder, html: { multipart: true } do |f|
    %fieldset.inputs
      = f.semantic_errors *f.object.errors.keys
      %ol
        = f.input :name, label: t(:name)
        = f.input :subcategory, label: t(:subcategory), as: :select, collection: Subcategory.all, include_blank: false
        = f.input :vendor, label: t(:vendor), as: :select, collection: Vendor.all, include_blank: false
        = f.input :valuta, label: t(:valuta), as: :select, collection: Valuta.all, include_blank: false
        = f.input :percent, label: t(:percent)
        = f.input :text, label: t(:text)
        = f.input :asset, label: t(:asset)
        - if f.object.products.empty? 
          - b = f.object.products.new
          - prot = f.object.subcategory.prototype
          - for c in prot.option_types

            - b.variants.build(option_type: c)
        .panel.product_panel
          %fieldset.inputs.product_product
            
            = f.semantic_fields_for :products  do |p|
              
              .panya
                %h3=  p.object
                %ol
                  = p.hidden_field :subcategory_id, value: f.object.subcategory_id
                  = p.input :name, label: t(:name)
                  = p.input :asset, label: t(:asset)
                  = p.input :marking, label: t(:marking)
                  = p.input :price, label: t(:price)
                  = p.input :description, label: t(:description)


                  = p.semantic_fields_for :variants do |x|
                    = x.input :option_type_id, wrapper_html: {class: 'hide_input'}

                    = x.input :value, label: x.object.option_type.name


      = f.actions




 
