- breadcrumb @product

.col-md-10(ng-controller="CartController")
  %h2.text-center= @product.name
  .col-md-6
    = image_tag(@product.asset.url, size: "300x300")
  .col-md-6
    %h3= @product.name
    %p.marking-product= @product.marking
    %p= @product.subcategory.name
    %p
      = @product.model.vendor.name
      ,
      = @product.model.vendor.country.name
    .col-md-10
      .row
      
        %table.table.table-striped

          %tbody
            - @product.variants.each do |variant|
              %tr
                %td= variant.option_type.name
                %td= variant.value
    .col-md-10
      .col-md-6
        %h4.price-product
          = @product.p_price(@product.model).round
          Pуб
      .col-md-6
        %button.btn.btn-leel.btn-lg.btn-buy(ng-click="add_to_cart(#{@product.id})") Купить

  .col-md-11
    %h2.text-center Описание
    .row
      .col-md-12.segoe-font
        %p= @product.description.html_safe
  .col-md-11
    = render partial: "product_table", locals: {model: @product.model, subcategory: @product.model.subcategory}
  .col-md-11(ng-controller="CommentsController")
    .col-md-12.border-comments
      %h4.text-center.reviews Отзывы
      .col-md-10.center-block(ng-init="comments= #{@product.comments.to_json}")
        .col-md-12.border-comment.comment-sizes.margin-bottom
          %form.css-form(name="expertForm")
            .ara(ng-init="comment.product_id = #{@product.id}")
            .form-group.col-md-10
              %label.control-label.col-md-2{:for => "exampleInputEmail1"} Имя
              .col-md-10
                %input#exampleInputEmail1.form-control{:placeholder => "Ваше имя", :type => "text", "ng-model" => "comment.name", "name" => "name", :required => "required"}/
            .form-group.col-md-10
              %label.control-label.col-md-2{:for => "exampleInputPassword1"} Отзыв
              .col-md-10
                %textarea.form-control{:rows => 5, :placeholder => "Ваш отзыв", "ng-model" => "comment.body", "name" => "body", :required => "required"}
            .col-md-10.form-group
              .col-md-10.pull-right
                %button.btn.btn-default.btn-lg.center-block.comment-button.pull-right.btn-leel(ng-click="checkForm() && submit(comment)") Отправить
          
        %ul.media-list
          %li.media.border-comment.comment-sizes.comment(ng-repeat="comment in comments")
            .media-body
              .col-md-12
                .col-md-6
                  %h5.media-heading {{comment.name}}
                .col-md-6.pull-right
                  %p.media-heading.marking-product {{comment.created_at |  date:'dd.MM.yyyy HH:mm'}}
                .col-md-12
                  %p {{comment.body}}
         

- if @models.size > 0
  .col-md-12
    - @models.each do |model|
      %div(class="col-md-#{12/@models.size}")
        = image_tag(model.asset.url, size: "320x320")
