<!DOCTYPE html>
<html ng-app="product">
<head >
  <title>Plumbing</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "navbar"  %>
  <div class="container-fluid">
     
     <div class="row">
       
       <%= render :partial => "sidebar" %>
       <div class="col-md-8">
	 <%= breadcrumbs  separator: " &rsaquo; ", display_single_fragment: true, style: :bootstrap %>
       </div>

       <%= yield %>
     </div>
  </div>

  <%= render partial: "footer" %>
</body>
</html>
