!!!
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(http-equive='X-UA-Compatible' content='IE=edge')
    %meta(name='viewport' content='width=device-width, initial-scale=1')

    %title Astro

    = stylesheet_link_tag 'converter/application', media: 'all'

    = csrf_meta_tags

  %body
    = render partial: 'converter/navbar'

    .container
      .row(style='margin-top: 70px')
        = flash_messages
        = yield
    .javascripts
      = javascript_include_tag 'converter/application'
